<% include global/header %>

<div>
	
	<% if ((errors) && (typeof(errors) === "object")){ %>
			<ul>
				<% errors.forEach(function(error){ %>
					<li><%= error.msg %></li>
				<% }) %>
			</ul>
		<% } %>
		<% if ((errors) && (typeof(errors) === "string")){ %>
			<ul>
				<li><%= errors %></li>
			</ul>
		<% } %>

	<div id="homeBtnContainer" style="border: 1px solid grey; width: 50%; margin-left: 25%; height: 30rem">
		<a href="/home"><span class="glyphicon"></span>HOME</a>
		<a href="/add"><span class="glyphicon"></span>ADD</a>
		<a href="/edit"><span class="glyphicon"></span>EDIT</a>

	</div>
</div>

<% include global/footer %>