<% include global/header %>

<div id="homeContainer">
	
	<% if ((errors) && (typeof(errors) === "object")){ %>
			<ul>
				<% errors.forEach(function(error){ %>
					<li><%= error.msg %></li>
				<% }) %>
			</ul>
		<% } %>
		<% if ((errors) && (typeof(errors) === "string")){ %>
			<ul>
				<li><%= errors %></li>
			</ul>
		<% } %>
		<% if ((token) && (token.length > 0)){ %>
			<input type="hidden" value= <%= token %>  id="tokInput">
		<% } %>

	<div id="homeBtnContainer" style="/*border: 1px solid grey;*/ width: 50%; margin-left: 25%; height: 30rem">
		<!--<button id="homeLinkBtn"><a href="/home"><span class="glyphicon"></span>HOME</a></button>-->
		<button id="addLinkBtn"><a href="/add"><span class="glyphicon"></span>ADD</a></button>
		<button id="editLinkBtn"><a href="/edit"><span class="glyphicon"></span>EDIT</a></button>

	</div>
</div>

<% include global/footer %>