<% include global/transpHeader %>

	<div>
		<h1 id="loginTitle"> <%= title %> </h1>
		<% if((errors) && (Object.prototype.toString.call(errors) === "[object Array]")) {%>
			<ul>
				<% errors.map(function(error, index){ %>
					<li><%= error %></li>
				<% }) %>
			</ul>
		<%}%>

		<% if ((errors) && (Object.prototype.toString.call(errors) === "[object object]")){ %>
				<ul>
					<% for(let error in errors){%>
						<li><%= errors[error] %></li>
					<%}%>
				</ul>
		<% } %>

		<% if ((errors) && (typeof(errors) === "string")){ %>
			<ul>
				<li><%= errors %></li>
			</ul>
		<% } %>
		<div id="loginErrorContainer"></div>
		<form action="/api/login" method="post" id="loginform">
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="email" id="loginEmail" class="form-control" name="email">
		  </div>
		  <div class="form-group">
		    <label for="password">Password:</label>
		    <input type="password" id="loginPassword" class="form-control" name="password">
		  </div>
		  <!--<div class="checkbox">
		    <label><input type="checkbox"> Remember me</label>
		  </div>-->
		  <button type="submit" id="loginBtnSubmit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<% include global/footer %>